<!DOCTYPE html>
<html ng-app="GLApp">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        -->
        <link rel="stylesheet" href="{{ asset('static/css/bootstrap.css')}}" />
        <link rel="stylesheet" href="{{ asset('static/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('static/css/base.css') }}" />
        <link rel="stylesheet" href="{{ asset('static/css/medecin.css') }}" />
        <link rel="stylesheet" href="{{ asset('static/css/Bib/nv.d3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('static/css/Bib/rzslider.min.css') }}">

        {% block css %}
        {% endblock %}
        <script src="{{ asset('static/js/Bib/jquery.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-animate.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-route.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-cookies.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-translate.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-translate-storage-cookie.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/ui-bootstrap.js') }}"></script>
        <script src="{{ asset('static/js/Bib/d3.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/nv.d3.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-nvd3.min.js') }}"></script>
        <script src="{{ asset('static/js/i18n/angular-locale_fr-fr.js') }}"></script>
        
        
        <script src="{{ asset('static/js/app/GL.js') }}"></script>
        
        <script src="{{ asset('static/js/service/demandeService.js') }}"></script>
        <script src="{{ asset('static/js/service/expertService.js') }}"></script>
        <script src="{{ asset('static/js/service/prestationService.js') }}"></script>
        <script src="{{ asset('static/js/service/ouvrierService.js') }}"></script>
        <script src="{{ asset('static/js/service/devisService.js') }}"></script>

        
        <script src="{{ asset('static/js/directive/validationFormulaire.js') }}"></script>
        <script src="{{ asset('static/js/directive/datePicker.js') }}"></script>
        
        <script src="{{ asset('static/js/controller/etablirDevis.js') }}"></script>
        <script src="{{ asset('static/js/controller/addOuvrier.js') }}"></script>
        <script src="{{ asset('static/js/controller/homeAgentAdministratif.js') }}"></script>
        <script src="{{ asset('static/js/controller/homeAgentTechnique.js') }}"></script>
        <script src="{{ asset('static/js/controller/choisirExpertDialog.js') }}"></script>
        <script src="{{ asset('static/js/controller/creerDemandeClient.js') }}"></script>
        <script src="{{ asset('static/js/controller/creerDemande.js') }}"></script>
        <script src="{{ asset('static/js/controller/homeVisiteur.js') }}"></script>
        <script src="{{ asset('static/js/controller/homeClient.js') }}"></script>
        
        <script src="{{ asset('static/js/filter/dateServeur.js') }}"></script>

    
        <script src="{{ asset('static/js/factory/session.js') }}"></script>
        
        {% block javascript %}
        {% endblock %}
        <script src="{{ asset('static/js/app/config-app.js') }}"></script>
    </head>
    <body>
        
    {% block body %}
    {% endblock %}
    </body>
    
</html>