<!DOCTYPE html>
<html ng-app="medecinApp">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        -->
        <link rel="stylesheet" href="{{ asset('static/css/bootstrap.css')}}" />
        <link rel="stylesheet" href="{{ asset('static/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('static/css/base.css') }}" />
        <link rel="stylesheet" href="{{ asset('static/css/medecin.css') }}" />
        <link rel="stylesheet" href="{{ asset('static/css/Bib/nv.d3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('static/css/Bib/rzslider.min.css') }}">

        {% block css %}
        {% endblock %}
        <script src="{{ asset('static/js/Bib/jquery.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-animate.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-route.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-cookies.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-translate.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-translate-storage-cookie.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/ui-bootstrap.js') }}"></script>
        <script src="{{ asset('static/js/Bib/d3.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/nv.d3.min.js') }}"></script>
        <script src="{{ asset('static/js/Bib/angular-nvd3.min.js') }}"></script>
        <script src="{{ asset('static/js/i18n/angular-locale_fr-fr.js') }}"></script>
        
        <script src="{{ asset('static/js/directive/rzslider.min.js') }}"></script>
        
        <script src="{{ asset('static/js/app/medecinApp.js') }}"></script>
        
        <script src="{{ asset('static/js/service/adminService.js') }}"></script>
        <script src="{{ asset('static/js/service/centreService.js') }}"></script>
        <script src="{{ asset('static/js/service/patientService.js') }}"></script>
        <script src="{{ asset('static/js/service/reponseService.js') }}"></script>
        <script src="{{ asset('static/js/service/loginService.js') }}"></script>
        <script src="{{ asset('static/js/service/medecinService.js') }}"></script>
        <script src="{{ asset('static/js/service/technicienService.js') }}"></script>
        <script src="{{ asset('static/js/service/ARCService.js') }}"></script>
        
        <script src="{{ asset('static/js/directive/validationFormulaire.js') }}"></script>
        <script src="{{ asset('static/js/directive/datePicker.js') }}"></script>
        <script src="{{ asset('static/js/directive/questionBoolean.js') }}"></script>
        <script src="{{ asset('static/js/directive/myfile.js') }}"></script>

        
        <script src="{{ asset('static/js/controller/addPatient.js') }}"></script>
        <script src="{{ asset('static/js/controller/modifierCentre.js') }}"></script>
        <script src="{{ asset('static/js/controller/gererMedecin.js') }}"></script>
        <script src="{{ asset('static/js/controller/gererTechnicien.js') }}"></script>
        <script src="{{ asset('static/js/controller/gererARC.js') }}"></script>
        <script src="{{ asset('static/js/controller/gererCentre.js') }}"></script>
        <script src="{{ asset('static/js/controller/gererAdmin.js') }}"></script>
        <script src="{{ asset('static/js/controller/gestionAdmin.js') }}"></script>
        <script src="{{ asset('static/js/controller/gestionARCs.js') }}"></script>
        <script src="{{ asset('static/js/controller/gestionTechniciens.js') }}"></script>
        <script src="{{ asset('static/js/controller/gestionCentres.js') }}"></script>
        <script src="{{ asset('static/js/controller/gestionMedecins.js') }}"></script>
        <script src="{{ asset('static/js/controller/profileUser.js') }}"></script>
        <script src="{{ asset('static/js/controller/menu.js') }}"></script>
        <script src="{{ asset('static/js/controller/menuGaucheMedecin.js') }}"></script>
        <script src="{{ asset('static/js/controller/multiLangues.js') }}"></script>
        <script src="{{ asset('static/js/controller/tableauBordPatients.js') }}"></script>
        <script src="{{ asset('static/js/controller/homeTechnicien.js') }}"></script>
        <script src="{{ asset('static/js/controller/homeAdmin.js') }}"></script>
        <script src="{{ asset('static/js/controller/homeARC.js') }}"></script>
        <script src="{{ asset('static/js/controller/homeMedecin.js') }}"></script>
        <script src="{{ asset('static/js/controller/pagePatient.js') }}"></script>
        <script src="{{ asset('static/js/controller/pageCentre.js') }}"></script>
        <script src="{{ asset('static/js/controller/formulaire.js') }}"></script>
        
        
        <script src="{{ asset('static/js/filter/numeroFormulaire.js') }}"></script>

        
        <script src="{{ asset('static/js/directive/validationFormulaire.js') }}"></script>

    
        
        
        {% block javascript %}
        {% endblock %}
        <script src="{{ asset('static/js/app/config-app.js') }}"></script>
    </head>
    <body>
        
    {% block body %}
    {% endblock %}
    </body>
    
</html>